<div class="page-header">
  <h3>쿠폰 등록 승인</h3>
</div>

<table class="table table-striped table-hover ellipsis_table">
  <thead>
  <tr>
    <th class="text-center">NO</th>
    <th class="text-center">카페명</th>
      <th class="text-center">쿠폰명 </th>
      <th class="text-center">상세정보 </th>
      <th class="text-center">관리</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat-start="item in items">
      <td class="text-center">{{$index+1}}</td>
      <td class="text-center">{{item.cafename}}</td>
      <td class="ellipsis_txt">{{item.name}}</td>
      <td class="text-center"><a href="" ng-click="item.show = !item.show">보기</a></td>
      <td class="text-center">
        <a href="" ng-click="selected.item = item" data-toggle="modal" data-target="#approveModal"> 승인</a> |
        <a href="" ng-click="selected.item = item" data-toggle="modal" data-target="#rejectModal"> 반려</a>
      </td>
    </tr>
    <tr ng-repeat-end ng-show="item.show">
      <td class="text-center"></td>
      <td class="text-left" colspan="4">

        <table class="table table-striped table-hover ">
          <tr>
            <th>종류</th>
            <td>{{item.type}}</td>
          </tr>
          <tr>
            <th>쿠폰이름</th>
            <td>{{item.name}}</td>
          </tr>
          <tr>
            <th>상세내용</th>
            <td>{{item.details}}</td>
          </tr>
          <tr>
            <th>발급매수</th>
            <td>{{item.EA}}</td>
          </tr>
          <tr>
            <th>기한</th>
            <td>{{item.start}} ~ {{item.end}}</td>
          </tr>
          <tr>
            <th>비고</th>
            <td>{{item.remarks}}</td>
          </tr>
        </table>

      </td>
    </tr>
  </tbody>
</table>


<div class="modal" id="approveModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div ng-init="step=1" class="modal-dialog" role="document">


    <div class="modal-content">
      <div class="modal-header bg-primary">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">확인</h4>
      </div>
      <div class="modal-body">
        <h4>{{selected.item.cafename}} / {{selected.item.name}}</h4>
        <p>이 쿠폰의 등록을 승인하시겠습니까?</p>
      </div>
      <div class="modal-footer bg-default">
        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="approve(selected.item)">
          확인
        </button>
        <button type="button" class="btn btn-default" data-dismiss="modal">취소</button>
      </div>
    </div>


  </div>
</div>


<div class="modal" id="rejectModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div ng-init="step=1" class="modal-dialog" role="document">


    <div class="modal-content">
      <div class="modal-header bg-primary">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">확인</h4>
      </div>
      <div class="modal-body">
        <h4>{{selected.item.cafename}} / {{selected.item.name}}</h4>
        <p>이 쿠폰의 등록을 반려하시겠습니까?</p>
        <table class="table">
          <tr>
            <td>사유</td>
            <td>
              <select class="form-control" ng-model="rejectData.reason">
                <option value="사유1">사유1</option>
                <option value="사유2">사유</option>
              </select>
            </td>
          </tr>
          <tr>
            <td>상세설명</td>
            <td>
              <textarea class="form-control" ng-model="rejectData.detail"></textarea>
            </td>
          </tr>
        </table>
      </div>
      <div class="modal-footer bg-default">
        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="reject(selected.item)">
          확인
        </button>
        <button type="button" class="btn btn-default" data-dismiss="modal">취소</button>
      </div>
    </div>


  </div>
</div>
