<style>
.schedule-container {
  display: flex;
}
.schedule-container .main {
  flex-grow: 1;
  text-align: center;
}

.schedule-container .left, .schedule-container .right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 10px;
}

.schedule-container .btn {
  margin: 10px;
}

table {
}

table, th, td {
}

.schedule-table {
  width: 100%;
  background: #eee;
  border: 1px solid #ccc;
  border-collapse: collapse;

}

.schedule-table th, .schedule-table td  {
  padding: 5px;
  text-align: center;
  background: #fff;
  border: 1px solid #ddd;
  white-space: nowrap;
  cursor: pointer;
}

.schedule-table th {
  background: skyblue;
}


</style>

<div class="page-header">
  <h3>엔젤 상담소 <small>일정 관리</small></h3>
</div>

<div>
  <!--{{angelCafeScheduleList.mondayOfWeek}}-->
</div>
<pre>
  데이터 포맷 : {"date":"2016-07-25", schedules : [ 7,8,9]}
셀 예약 추가/삭제 - 지난날짜/시간의 처리
Time 예약 추가/삭제 - 설정이 있는 경우 clear, 없는경우 모든셀 추가 
week 추가/삭제
All 추가/삭제
schedule 반복 - 보류
</pre>

<div class="schedule-container">
  <div class="left">
    <div>
      <a ng-click="angelCafeScheduleList.addWeek(-1)" class="btn btn-info btn-sm"><span class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span></a>
    </div>
    <div>
      <a ng-click="angelCafeScheduleList.addWeek(0)" class="btn btn-default btn-sm"><span class="glyphicon glyphicon glyphicon-ok" aria-hidden="true"></span></a>
    </div>
    <div>
      <a ng-click="angelCafeScheduleList.addWeek(+1)" class="btn btn-info btn-sm"><span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span></a>
    </div>
  </div>
  <div class="main">
    <table class="schedule-table">
      <tr>
        <th>날짜 / 시각</th>
        <th ng-repeat="n in [].constructor(24) track by $index">{{ $index > 9 ? $index : '0' + $index }}</th>
      </tr>
      <tr ng-repeat="week in angelCafeScheduleList.weeks">
        <td>{{ week.dateText }}</td>
        <!--<td ng-repeat="n in [].constructor(24) track by $index">&nbsp;</td>-->
        <td ng-click="toggleCellSchedule(week.dateValue, $index)" ng-repeat="n in [].constructor(24) track by $index">{{angelCafeScheduleList.getData(week.dateValue, $index)}}</td>
      </tr>
    </table>
  </div>
  <div class="right">
    <div>
      <a ng-click="angelCafeScheduleList.addWeek(-1)" class="btn btn-info btn-sm"><span class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span></a>
    </div>
    <div>
      <a ng-click="angelCafeScheduleList.addWeek(0)" class="btn btn-default btn-sm"><span class="glyphicon glyphicon glyphicon-ok" aria-hidden="true"></span></a>
    </div>
    <div>
      <a ng-click="angelCafeScheduleList.addWeek(+1)" class="btn btn-info btn-sm"><span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span></a>
    </div>
  </div>
</div>

<br>

<div class="row">
  <div class="col-xs-12 text-center">
    <!--<a type="button" ui-sref="user.__angelUser.add" class="btn btn-primary" id="btn_input">일정 매주반복 등록</a>-->
    <a type="button" ui-sref="user.angelUser.add" class="btn btn-warning" id="btn_input">금주일정 삭제</a>
    <a type="button" ui-sref="user.angelUser.add" class="btn btn-danger" id="btn_input">전체일정 삭제</a>
    <a type="button" ng-click="angelCafeScheduleList.toast()" class="btn btn-default" id="btn_input">toastr test</a>
  </div>
</div>

