
<div id="mainlogo">
<div style="width: 180px; margin-left: 30%; margin-bottom:10%;">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="1661.568 1133.643 237.265 94.603">
    <defs>
      <style>
        .cls-1 {
          fill: #fff;
        }

        .cls-2, .cls-3 {
          fill: #a6e22e;
        }

        .cls-3 {
          font-size: 36px;
          font-family: Roboto-Black, Roboto;
          font-weight: 800;
        }
      </style>
    </defs>
    <g id="그룹_29" data-name="그룹 29" transform="translate(1758 1132)">
      <rect id="사각형_13" data-name="사각형 13" class="cls-1" width="68.185" height="68.185" transform="matrix(-0.866, -0.5, 0.5, -0.866, 106.741, 94.867)"/>
      <path id="패스_205" data-name="패스 205" class="cls-2" d="M0,59.028,59.028,93.165,68.9,76.1l-4.534-2.578-7.2,12.446L7.2,57.161,36,7.2l24.98,14.4,2.667-4.534L34.137,0Z" transform="translate(8.277 1.643)"/>
      <path id="패스_206" data-name="패스 206" class="cls-2" d="M76.578,9.5,71.6,18.123l29.514,17.068L76.845,77.151l8.623,4.978,29.247-50.583Z" transform="translate(0.328 0.588)"/>
      <rect id="사각형_14" data-name="사각형 14" class="cls-2" width="43.204" height="28.803" transform="matrix(0.5, -0.866, 0.866, 0.5, 47.683, 60.708)"/>
      <text id="TDD.hub" class="cls-3" transform="translate(-96.432 87.245)"><tspan x="0" y="0">TDD</tspan><tspan class="cls-1" y="0">.hub</tspan></text>
    </g>
  </svg>
  </rect>
</div>

<!-- <div id = "loginform" style="width: 280px; margin-left: auto; margin-right: auto"> -->

  <div style="margin-top:3%;">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="1610 1291 328 28.5">
    <defs>
      <style>
        .cls-100 {
          fill: #fff;
          opacity: 0.12;
        }

        .cls-200 {
          fill: rgba(255,255,255,0.38);
          font-size: 16px;
          font-family: Roboto-Regular, Roboto;
        }
      </style>

    </defs>
    <g id="hint_text_1_dark" transform="translate(1090 1254)">
        <!-- <text id="hint_text" class="cls-200" editable="true" transform="translate(520 52)"><tspan x="0" y="0">Email</tspan></text> -->
        <foriegnObject>
          <div xmlns="http://www.w3.org/2000/svg">
            <!-- <path id="text_path" class="cls-100" d="M328,1H0V0H328Z" transform="translate(520 64.5)"/> -->
            <input type="text" ng-model="user.name" id="hint_text" ng-show="show" placeholder="Name" style="width:100%; margin:5%;  border-bottom: #888888 1px solid;"></input>
              <input type="text" ng-model="user.email" id="hint_text" placeholder="Email" style=" width:100%; margin:5%; border-bottom: #888888 1px solid;"></input>
              <input type="text" ng-model="user.password" id="hint_text" placeholder="Password" style="width:100%; margin:5%;  border-bottom: #888888 1px solid;"></input>
              <input type="text" ng-model="user.confirmpassword" id="hint_text" ng-show="show" placeholder="Confirm Password" style="width:100%; margin:5%;  border-bottom: #888888 1px solid;"></input>


        </div>
        </foreignObject>
  </g>

  </svg>

  </div>

  <div style="width: 80px; margin-left: auto; margin-right: auto; margin-top: 8%" ng-show="!show">
    <div id="loginbtn" ng-click="login(user)" xmlns="http://www.w3.org/2000/svg"  style=" border-radius: 8%; background-color:#a6e22e; margin-left: auto; margin-right:auto; text-align: center; margin-top: 24%; width: 100%;">
    <text id="Normal" class="cls-002" transform="translate(317 179)" ><tspan x="-17.421" y="0">Login</tspan></text>
  </div>
  </div>

  <div style="width: 80px; margin-left: auto; margin-right: auto; margin-top: 8%;" ng-show="show">
    <div id="loginbtn" ng-click="signup(user)" xmlns="http://www.w3.org/2000/svg"  style=" border-radius: 8%; background-color:#a6e22e; margin-left: auto; margin-right:auto; text-align: center; margin-top: 24%; width: 100%;">
    <text id="Normal" class="cls-002" transform="translate(317 179)" ><tspan x="-17.421" y="0">Join Us</tspan></text>
  </div>
  </div>


  <div id = "signuptxt" style="width: 60px; text-align: center; margin-left: auto; margin-right: auto; margin-top: 1%" ng-click="show = !show">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="1756 1495 36 14">
    <defs>
      <style>
        .cls-109 {
          fill: #6e6e6e;
          font-size: 8px;
          font-family: Roboto-Italic, Roboto;
          font-style: italic;
        }
      </style>
    </defs>
    <text id="raised_light" class="cls-109" transform="translate(1774 1506)"><tspan x="-17.783" y="0">Sign Up</tspan></text>
    <!-- <foreignObject>
    <div xmlns="http://www.w3.org/2000/svg" onclick="showSignup()">
      <input type="button" type="submit">signUp</input>
    </div>
    </foreignObject> -->
  </svg>
  </div>

  <!-- <div id="confirmPassword" style=" margin-top: 8%"  ng-show="show">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="2960 1403 328 28.5">
    <defs>
      <style>
        .cls-01 {
          fill: #fff;
          opacity: 0.12;
        }

        .cls-02 {
          fill: rgba(255,255,255,0.38);
          font-size: 16px;
          font-family: Roboto-Regular, Roboto;
        }
      </style>
    </defs>
    <g id="hint_text_1_dark" transform="translate(2440 1366)">
      <path id="text_path" class="cls-01" d="M328,1H0V0H328Z" transform="translate(520 64.5)"/>
      <text id="hint_text" class="cls-02" transform="translate(520 52)"><tspan x="0" y="0">Confirm PW</tspan></text>
    </g>
  </svg>
  </div> -->



</div>
