<div class="container">





    <form class="form-signin">
        <h2 class="form-signin-heading text-center">사용자 가입</h2>
        <br>
        <input ng-model="user.email" type="text" class="form-control" placeholder="User ID(email)" required autofocus>
        <input  style="margin-top: 10px;" ng-model="user.password" type="password" class="form-control" placeholder="Password" required>
        <input  style="margin-top: 10px;" ng-model="user.name" type="text" class="form-control" placeholder="Name" required>
        <input  style="margin-top: 10px;" ng-model="user.tel" type="text" class="form-control" placeholder="TEL" required>
        <input  style="margin-top: 10px;" ng-model="user.regist_num" type="text" class="form-control" placeholder="사업자 등록번호" required>

        <br>
        <br>

        <button ng-click="signup(user)" class="btn btn-lg btn-primary btn-block" type="submit">계정 생성</button>

    </form>

</div>