

<div class="page-header">
  <h3>카페목록</h3>
</div>

<!--


//   카페명   상세정보   찜한 수    별점   리뷰 수    관리
// —
// 카페카페   보기       143        4.7   66        수정|삭제



-->
<!--<table class="table">-->
  <!--<tr ng-repeat="row in data.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))">-->
    <!--<td>{{row.name}}</td>-->
    <!--<td>{{row.id}}</td>-->
  <!--</tr>-->
<!--</table>-->


<!--View <select ng-model="viewby" ng-change="setItemsPerPage(viewby)"><option>3</option><option>5</option><option>10</option><option>20</option><option>30</option><option>40</option><option>50</option></select> records at a time.-->

<!--<pagination total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()" class="pagination-sm" items-per-page="itemsPerPage"></pagination>-->
<!--<pre>The selected page no: {{currentPage}}</pre>-->
<!--<button class="btn btn-info" ng-click="setPage(3)">Set current page to: 3</button>-->

<!--<hr />-->
<!--<h4>Pager</h4>-->
<!--<pager total-items="totalItems" ng-model="currentPage" items-per-page="itemsPerPage"></pager>-->

<!--<hr />-->
<!--<h4>Limit the maximum visible buttons</h4>-->
<!--<pagination total-items="totalItems" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" items-per-page="itemsPerPage"></pagination>-->


<!--</div>-->


<div class="row">
  <div class="col-lg-6">
    <!--<div class="input-group">-->
      <!--<span class="input-group-btn">-->
        <!--<button class="btn btn-default" type="button">Go!</button>-->
      <!--</span>-->
      <!--<input type="text" class="form-control" placeholder="Search for...">-->
    <!--</div>&lt;!&ndash; /input-group &ndash;&gt;-->
  </div><!-- /.col-lg-6 -->
  <div class="col-lg-6">
    <div class="input-group">
      <input type="text" class="form-control" ng-model="selected.keyword" placeholder="Search for...">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button" ng-click="list(keyword)">검색</button>
      </span>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
</div><!-- /.row -->


<table class="table table-striped table-hover ellipsis_table">
  <thead>
  <tr>
    <th class="text-center">NO</th>
    <th class="text-center">카페명</th>
      <th class="text-center">상세정보</th>
      <th class="text-center">찜한 수</th>
      <th class="text-center">별점</th>
      <th class="text-center">리뷰 수</th>
      <th class="text-center">관리</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat-start="item in items">
      <td class="text-center">{{$index+1}}</td>
      <td class="text-center" style="white-space: nowrap">{{item.name}}</td>
      <td class="text-center"><a href="" ng-click="item.show = !item.show">보기</a></td>
      <td class="text-center">{{item.total_favorites}}</td>
      <td class="text-center">{{item.total_stars}}</td>
      <td class="text-center">{{item.total_reviews}}</td>
      <td class="text-center">
        <a ui-sref="admin.cafe.edit({id: item.sid})"> 수정</a> |
        <a href="" data-toggle="modal" data-target="#myModal" ng-click="selected.item=item"> 삭제</a>
      </td>
    </tr>
    <tr ng-repeat-end ng-show="item.show">
      <td class="text-center"></td>
      <td class="text-left" colspan="6">

        <table class="table table-striped table-hover ellipsis_table">
          <tr>
            <th class="text-left" style="width: 20%">카페명</th>
            <td class="text-left" style="width: 80%">
              {{item.name}}
            </td>

          </tr>
          <tr>
            <th class="text-left" style="width: 20%">프랜차이즈</th>
            <td class="text-left">
              {{item.franchise}}
            </td>
          </tr>
          <tr>
            <th class="text-left">전화번호</th>
            <td class="text-left">
              {{item.tel}}
            </td>
          </tr>
          <tr>
            <th class="text-left">카페주소</th>
            <td class="text-left">
              {{item.addr}}
            </td>
          </tr>
          <tr>
            <th class="text-left">사업자등록번호</th>
            <td class="text-left">
              {{item.reg_number}}
            </td>
          </tr>


          <tr>
            <th class="text-left">영업시간</th>
            <td class="text-left">
              <form class="form-inline" style="margin-bottom: 5px;">
                <div class="form-group">
                  <label>평일</label>
                  {{item.week_start_hour}}
                </div>
                <div class="form-group">
                  <label>:</label>
                  {{item.week_start_min}}
                </div>
                <div class="form-group">
                  <label> ~ </label>
                  {{item.week_end_hour}}
                </div>
                <div class="form-group">
                  <label>:</label>
                  {{item.week_end_min}}
                </div>
              </form>
              <form class="form-inline" style="margin-bottom: 5px;">
                <div class="form-group">
                  <label>주말</label>
                  {{item.holi_start_hour}}
                </div>
                <div class="form-group">
                  <label>:</label>
                  {{item.holi_start_min}}
                </div>
                <div class="form-group">
                  <label> ~ </label>
                  {{item.holi_end_hour}}
                </div>
                <div class="form-group">
                  <label>:</label>
                  {{item.holi_end_min}}
                </div>
              </form>
            </td>
          </tr>

          <!--

          카페명
          전화번호    | 사업자등록샇의 전화번호를 입력해주세요. (하이픈(-)제외)
          카페주소    |
          사업자등록번호 : 숫자만 입력 해주세요. (하이픈(-)제외)
          영업시간 : 평일  09:00 ~18:00
                         주말   09:00 ~ 23:00
                          24시간제로 입력해 주세요.
          편의시설 : wifi, parking, 24시, 화장실(내부), 흡연
          태그 : 쉼표로 구분해 주세요
          콘센트수 : 숫자만 입력해 주세요
          좌석수 : 숫자만 입력해 주세요
          메뉴 :                         메뉴명 ,  가격 최소2개등록 필수         메뉴명, 가격     +
          원할경우 + 버튼을         등록한 메뉴는 앱 내에서 검색시 노출됩니다.
          눌러 추가등록 가능
          사진등록         | 사진등록하기   업로드가능 확장자 :  jpg, png

                                처음 등록한 사진이 카페의 대표이미지가 됩니다. 사진은 5개까지 등록가능합니다. 권장이미지 사이즈 : 1920 x 1080

          checkbox  이용약관과 개인정보보호 정책에 동의 합니다     가페등록, 취소
          -->
          <tr>
            <th class="text-left">편의시설</th>
            <td class="text-left">
              <!--<input type="text" class="form-control" ng-model="item.reg_number" placeholder="숫자만 입력해주세요. (하이픈(-)제외)">-->
              <label ng-repeat="facility in item.facilities" style="margin-right: 10px;">
                <input type="checkbox" ng-model="facility.value" ng-disabled="true">
                {{facility.name}}
              </label>
            </td>
          </tr>
          <tr>
            <th class="text-left">태그</th>
            <td class="text-left">
              {{item.tags}}
            </td>
          </tr>
          <tr>
            <th class="text-left">콘센트수</th>
            <td class="text-left">
              {{item.plugs}}
            </td>
          </tr>
          <tr>
            <th class="text-left">좌석수</th>
            <td class="text-left">
              {{item.seats}}
            </td>
          </tr>
          <tr>
            <th class="text-left">메뉴<br>
              <span class="help-block">
            </span>
            </th>
            <td class="text-left">
              <form class="form-inline" style="margin-bottom: 5px;" ng-repeat="m in item.menu">
                <div class="form-group">
                  <label></label>
                  {{m.name}}
                </div>
                <div class="form-group">
                  <label></label>
                  {{m.price}}
                </div>
              </form>
            </td>
          </tr>
          <tr>
            <th class="text-left">사진등록</th>
            <td class="text-left">

              <div ng-repeat="photo in item.photos" style="display: inline-block; width:200px; height: 160px;" class="text-right">
                <img ng-src="{{photo.url}}" alt="" style="width:180px; height:120px; margin-top: 5px;">
              </div>
              <div class="clearfix"></div>
              <div class="clearfix">
                <p ng-if="item.photos.length == 0">No images</p>
                처음 등록한 사진이 카페의 대표이미지가 됩니다. 사진은 5개까지 등록가능합니다. 권장이미지 사이즈 : 1920 x 1080
              </div>


            </td>
          </tr>

        </table>

      </td>
    </tr>
  </tbody>
</table>

<pagination ng-click="list()" total-items="totalItems" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages" items-per-page="itemsPerPage"></pagination>
<pre>Page: {{currentPage}} / {{numPages}}</pre>


<div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">


      <div class="modal-header bg-primary">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">확인</h4>
      </div>
      <div class="modal-body">
        <h4>삭제하시겠습니까?</h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">취소</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="remove(selected)">삭제</button>
      </div>

    </div>
  </div>
</div>
