<div class="page-header">
  <h3>수정 요청 승인</h3>
</div>

<table class="table table-striped table-hover ellipsis_table">
  <thead>
  <tr>
    <th class="text-center">NO</th>
    <th class="text-center">카페명</th>
      <th class="text-center">상세사항 </th>
      <th class="text-center">관리</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat-start="item in items">
      <td class="text-center">{{$index+1}}</td>
      <td class="text-center">{{item.cafe_name}}</td>
      <td class="text-center"><a href="" ng-click="item.show = !item.show">보기</a></td>
      <td class="text-center">
        <a href="" ng-click="selected.item = item" data-toggle="modal" data-target="#approveModal"> 승인</a> |
        <a href="" ng-click="selected.item = item" data-toggle="modal" data-target="#rejectModal"> 반려</a>
      </td>
    </tr>
    <tr ng-repeat-end ng-show="item.show">
      <td class="text-center"></td>
      <td class="text-left" colspan="3">

        <table class="table table-striped table-hover ">
          <tr>
            <th>신청자</th>
            <td>{{item.request_by}}</td>
          </tr>
          <tr>
            <th>분류</th>
            <td>{{item.type}}</td>
          </tr>
          <tr>
            <th>상세내용</th>
            <td>{{item.detail}}</td>
          </tr>
        </table>

      </td>
    </tr>
  </tbody>
</table>



<div class="modal" id="approveModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div ng-init="step=1" class="modal-dialog" role="document">


    <div class="modal-content">
      <div class="modal-header bg-primary">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">확인</h4>
      </div>
      <div class="modal-body">
        <!--<h4>{{selected.item.cafename}} / {{selected.item.name}}</h4>-->
        <p>이 수정요청의 등록을 승인하시겠습니까?</p>
      </div>
      <div class="modal-footer bg-default">
        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="approve(selected.item)">
          확인
        </button>
        <button type="button" class="btn btn-default" data-dismiss="modal">취소</button>
      </div>
    </div>


  </div>
</div>


<div class="modal" id="rejectModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div ng-init="step=1" class="modal-dialog" role="document">


    <div class="modal-content">
      <div class="modal-header bg-primary">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">확인</h4>
      </div>
      <div class="modal-body">
        <!--<h4>{{selected.item.cafename}} / {{selected.item.name}}</h4>-->
        <p>이 수정요청의 등록을 반려하시겠습니까?</p>
        <table class="table">
          <tr>
            <td>사유</td>
            <td>
              <select class="form-control" ng-model="rejectData.reason">
                <option value="사유1">사유1</option>
                <option value="사유2">사유</option>
              </select>
            </td>
          </tr>
          <tr>
            <td>상세설명</td>
            <td>
              <textarea class="form-control" ng-model="rejectData.detail"></textarea>
            </td>
          </tr>
        </table>
      </div>
      <div class="modal-footer bg-default">
        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="reject(selected.item)">
          확인
        </button>
        <button type="button" class="btn btn-default" data-dismiss="modal">취소</button>
      </div>
    </div>


  </div>
</div>