<div class="page-header">
    <h3>카페생성</h3>
</div>


<table class="table table-striped table-hover ellipsis_table">
    <tr>
        <th class="text-left" style="width: 20%">카페명</th>
        <td class="text-left" style="width: 80%">
            <input type="text" class="form-control" ng-model="item.name" placeholder="카페이름">
        </td>

    </tr>
    <tr>
        <th class="text-left" style="width: 20%">프랜차이즈</th>
        <td class="text-left" >
          <input type="checkbox" ng-model="item.franchise">
        </td>

    </tr>
    <tr>
        <th class="text-left">전화번호</th>
        <td class="text-left">
            <input type="text" class="form-control" ng-model="item.tel" placeholder="사업자등록샇의 전화번호를 입력해주세요. (하이픈(-)제외)">
        </td>
    </tr>
    <tr>
        <th class="text-left">카페주소</th>
        <td class="text-left">
            <input type="text" class="form-control" ng-model="item.addr" placeholder="">
        </td>
    </tr>
    <tr>
        <th class="text-left">사업자등록번호</th>
        <td class="text-left">
            <input type="text" class="form-control" ng-model="item.reg_number" placeholder="숫자만 입력해주세요. (하이픈(-)제외)">
        </td>
    </tr>


    <tr>
        <th class="text-left">영업시간</th>
        <td class="text-left">
            <form class="form-inline" style="margin-bottom: 5px;">
                <div class="form-group">
                    <label>평일</label>
                    <input type="text" ng-model="item.week_start_hour" class="form-control" placeholder="시작시" style="width: 60px">
                </div>
                <div class="form-group">
                    <label>:</label>
                    <input type="text" ng-model="item.week_start_min" class="form-control" placeholder="시작분" style="width: 60px">
                </div>
                <div class="form-group">
                    <label> ~ </label>
                    <input type="text" ng-model="item.week_end_hour" class="form-control" placeholder="종료시" style="width: 60px">
                </div>
                <div class="form-group">
                    <label>:</label>
                    <input type="text" ng-model="item.week_end_min" class="form-control" placeholder="종료분" style="width: 60px">
                </div>
            </form>
            <form class="form-inline" style="margin-bottom: 5px;">
                <div class="form-group">
                    <label>주말</label>
                    <input type="text" ng-model="item.holi_start_hour" class="form-control" placeholder="시작시" style="width: 60px">
                </div>
                <div class="form-group">
                    <label>:</label>
                    <input type="text" ng-model="item.holi_start_min" class="form-control" placeholder="시작분" style="width: 60px">
                </div>
                <div class="form-group">
                    <label> ~ </label>
                    <input type="text" ng-model="item.holi_end_hour" class="form-control" placeholder="종료시" style="width: 60px">
                </div>
                <div class="form-group">
                    <label>:</label>
                    <input type="text" ng-model="item.holi_end_min" class="form-control" placeholder="종료분" style="width: 60px">
                </div>
            </form>
            24시간제로 입력해 주세요.
        </td>
    </tr>

    <tr>
        <th class="text-left">편의시설</th>
        <td class="text-left">
            <!--<input type="text" class="form-control" ng-model="item.reg_number" placeholder="숫자만 입력해주세요. (하이픈(-)제외)">-->
            <label ng-repeat="facility in item.facilities" style="margin-right: 10px;">
                <input type="checkbox" ng-model="facility.value">
                {{facility.name}}
            </label>
        </td>
    </tr>
    <tr>
        <th class="text-left">태그</th>
        <td class="text-left">
            <input type="text" class="form-control" ng-model="item.tags" placeholder="콤마로 구분하여 입력해주세요.">
        </td>
    </tr>
    <tr>
        <th class="text-left">콘센트수</th>
        <td class="text-left">
            <input type="text" class="form-control" ng-model="item.plugs" placeholder="숫자만 입력해주세요.">
        </td>
    </tr>
    <tr>
        <th class="text-left">좌석수</th>
        <td class="text-left">
            <input type="text" class="form-control" ng-model="item.seats" placeholder="숫자만 입력해주세요. (하이픈(-)제외)">
        </td>
    </tr>
    <tr>
        <th class="text-left">메뉴<br>
            <span class="help-block">
              <ul>
                <li>원할경우 + 버튼을</li>
                <li>눌러 추가등록 가능</li>
              </ul>
            </span>
        </th>
        <td class="text-left">
            <form class="form-inline" style="margin-bottom: 5px;" ng-repeat="menu in item.menu">
                <div class="form-group">
                    <label></label>
                    <input type="text" class="form-control" ng-model="menu.name" placeholder="메뉴" style="width: 200px">
                </div>
                <div class="form-group">
                    <label></label>
                    <input type="text" class="form-control" ng-model="menu.price" placeholder="가격" style="width: 80px">
                </div>
                <button class="btn btn-default" ng-click="removeMenu($index)">-</button>
            </form>
            <form class="form-inline" style="margin-bottom: 5px;">
                <div class="form-group">
                    <label></label>
                    <input type="text" class="form-control" ng-model="new_menu.name" placeholder="메뉴"
                           style="width: 200px">
                </div>
                <div class="form-group">
                    <label></label>
                    <input type="text" class="form-control" ng-model="new_menu.price" placeholder="가격"
                           style="width: 80px">
                </div>
                <button class="btn btn-primary" ng-click="addMenu()">+</button>
            </form>
            등록한 메뉴는 앱 내에서 검색시 노출됩니다.
        </td>
    </tr>
    <tr>
        <th class="text-left">사진등록</th>
        <td class="text-left" style="vertical-align: top">
            <!--<div ng-hide="item.photos.length == 5">-->
                <!--<label>Select File</label>-->
                <!--<input ng-model="photo"-->
                       <!--onchange="angular.element(this).scope().file_changed(this)"-->
                       <!--type="file" accept="image/*" />-->
            <!--</div>-->
            <!--<div ng-repeat="photo in item.photos" style="display:inline-block; width:200px; height: 200px; margin: 5px;" class="text-right">-->
                <!--<button class="btn btn-xs btn-default" ng-click="removePhoto($index)">삭제</button>-->
                <!--<br>-->
                <!--<img ng-src="{{photo.url}}" alt="" width="100%">-->
            <!--</div>-->
            <!--&lt;!&ndash;<img ng-src="data:image/png;base64,{{file.base64}}" alt="">&ndash;&gt;-->
            <!--&lt;!&ndash;<div class="clearfix"></div>&ndash;&gt;-->

            <!--&lt;!&ndash;<table class="table">&ndash;&gt;-->
                <!--&lt;!&ndash;<tr>&ndash;&gt;-->
                    <!--&lt;!&ndash;<td>&ndash;&gt;-->
                        <!--&lt;!&ndash;{{item.photos}}&ndash;&gt;-->
                        <!--&lt;!&ndash;<input ng-model="content.fileContent" style="padding:3px; border:1px solid deepskyblue; width:100%"&ndash;&gt;-->
                               <!--&lt;!&ndash;type="text" placeholder="Link">&ndash;&gt;-->
                    <!--&lt;!&ndash;</td>&ndash;&gt;-->
                    <!--&lt;!&ndash;<td>&ndash;&gt;-->
                    <!--&lt;!&ndash;</td>&ndash;&gt;-->
                <!--&lt;!&ndash;</tr>&ndash;&gt;-->
                <!--&lt;!&ndash;<tr ng-repeat="photo in item.photos" >&ndash;&gt;-->
                    <!--&lt;!&ndash;<td>&ndash;&gt;-->
                        <!--&lt;!&ndash;{{photo.url}}&ndash;&gt;-->
                    <!--&lt;!&ndash;</td>&ndash;&gt;-->
                    <!--&lt;!&ndash;<td>&ndash;&gt;-->
                        <!--&lt;!&ndash;<img ng-src="{photo.url}}" alt="" width="100%">                    </td>&ndash;&gt;-->
                <!--&lt;!&ndash;</tr>&ndash;&gt;-->

            <!--&lt;!&ndash;</table>&ndash;&gt;-->
            <!--<div class="clearfix" style="margin-top: 10px;">-->
                <!--처음 등록한 사진이 카페의 대표이미지가 됩니다. 사진은 5개까지 등록가능합니다. 권장이미지 사이즈 : 1920 x 1080-->
            <!--</div>-->


            <form name="form">
                <div ng-hide="item.photos.length == 5">
                    <label>Select File</label>
                    <input ng-model="photo"
                           onchange="angular.element(this).scope().file_changed(this)"
                           type="file" accept="image/*" />
                </div>
                <hr>
            </form>
            <div ng-repeat="photo in item.photos" style="display: inline-block; width:200px; height: 160px;" class="text-right">
                <button class="btn btn-xs btn-default" ng-click="removePhoto($index)">삭제</button>
                <img ng-src="{{photo.url}}" alt="" style="width:180px; height:120px; margin-top: 5px;">
            </div>
            <div class="clearfix"></div>
            <div class="clearfix">
                처음 등록한 사진이 카페의 대표이미지가 됩니다. 사진은 5개까지 등록가능합니다. 권장이미지 사이즈 : 1920 x 1080
            </div>


        </td>
    </tr>

</table>

<div class="text-right">
    <button class="btn btn-primary" ng-click="save()">등록</button>
    <button class="btn btn-default" ui-sref="admin.cafe.list">카페목록</button>
</div>
