<style>
.schedule-container {
  display: flex;
}
.schedule-container .main {
  flex-grow: 1;
  text-align: center;
}

.schedule-container .left, .schedule-container .right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 10px;
}

.schedule-container .btn {
  margin: 10px;
}

table {
}

table, th, td {
}

.schedule-table {
  width: 100%;
  background: #eee;
  border: 1px solid #ccc;
  border-collapse: collapse;

}

.schedule-table th, .schedule-table td  {
  padding: 5px;
  text-align: center;
  background: #fff;
  border: 1px solid #ddd;
}

</style>


<div class="page-header">
  <h3>엔젤 상담소 <small>상담분야 관리 - 목록</small></h3>
</div>

<!--<pre>
{{vm.specialtyList}}
</pre>-->
<table class="table table-striped table-hover ellipsis_table">
  <!--<colgroup>
    <col width="5%" />
    <col width="17%" />
    <col width="10%" />
  </colgroup>-->
  <thead>
    <tr>
      <th class="text-center">번호</th>
      <th class="text-center">상담분야</th>
      <th class="text-center"></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="item in vm.specialtyList">
      <td class="text-center">{{$index + 1}}</td>
      <td class="text-center">
        <input ng-model="item" ng-blur="vm.changed($index, item)" type="text" class="form-control" maxlength="50" placeholder="" required="">
      </td>
      <td class="text-center">
        <div class="btn-group" role="group" aria-label="...">
          <button type="button" class="btn btn-default" ng-click="vm.swapDown($index)"
           ng-disabled="$index === vm.specialtyList.length - 1">
            <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
           </button>
          <button type="button" class="btn btn-default" ng-click="vm.swapUp($index)"
           ng-disabled="$index === 0">
           <span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span>
          </button>
        </div>        
        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal" ng-click="vm.delete($index)">삭제</button>
      </td>
    </tr>
    <tr>
      <td class="text-center"></td>
      <td class="text-center"><input ng-model="vm.newItem" type="text" class="form-control" maxlength="50" placeholder="" required=""></td>
      <td class="text-center">
        <button type="button" ng-click="vm.add(vm.newItem)" ng-disabled="!vm.newItem" class="btn btn-info">추가</button>
      </td>
    </tr>
  </tbody>
</table>
