<div class="page-header">
    <h3>신규 카페 등록 승인</h3>
</div>

<table class="table table-striped table-hover ellipsis_table">
    <thead>
    <tr>
        <th class="text-center">NO</th>
        <th class="text-center">카페명</th>
        <th class="text-center">지역</th>
        <th class="text-center">전화번호</th>
        <th class="text-center">관리</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="item in items">
        <td class="text-center">{{$index+1}}</td>
        <td class="text-center">{{item.cafeinfo.name}}</td>
        <td class="ellipsis_txt">{{item.cafeinfo.addr}}</td>
        <td class="text-center">{{item.cafeinfo.tel}}</td>
        <td class="text-center">
            <a href="" ng-click="selected.item = item" data-toggle="modal" data-target="#approveModal"> 승인</a> |
            <a href="" ng-click="selected.item = item" data-toggle="modal" data-target="#rejectModal"> 반려</a>
        </td>
    </tr>
    </tbody>
</table>

<div class="modal" id="approveModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div ng-init="step=1" class="modal-dialog" role="document">


        <div class="modal-content">
            <div class="modal-header bg-primary">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">확인</h4>
            </div>
            <div class="modal-body">
                <h4>{{selected.item.name}}</h4>
                <p>카페에 등록할 태그를 설정해 주세요</p>
                <input class="form-control" type="text" ng-model="selected.item.cafeinfo.tags" placeholder="Tag">
            </div>
            <div class="modal-footer bg-default">
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="approve(selected.item)">
                    확인
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">취소</button>
            </div>
        </div>


    </div>
</div>


<div class="modal" id="rejectModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div ng-init="step=1" class="modal-dialog" role="document">


        <div class="modal-content">
            <div class="modal-header bg-primary">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">확인</h4>
            </div>
            <div class="modal-body">
                <h4>{{selected.item.cafeinfo.name}}</h4>
                <p>이카페의 등록을 반려하시겠습니까?</p>
                <table class="table">
                    <tr>
                        <td>사유</td>
                        <td>
                            <select class="form-control" ng-model="rejectData.reason">
                                <option value="정보 오기입">정보 오기입</option>
                                <option value="중북 요청">중북 요청</option>
                                <option value="기타">기타</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>상세설명</td>
                        <td>
                            <textarea class="form-control" ng-model="rejectData.detail"></textarea>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer bg-default">
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="reject(selected.item)">
                    확인
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">취소</button>
            </div>
        </div>


    </div>
</div>
